*{
    margin: 0px;
    text-align: center;
    /* background-color:cornsilk; */
    font-family: sans-serif;
}

.navbar{
    background-color:cornflowerblue;
    color: black;
    list-style: none;
}

.navbar ul{
    display: flex;
    list-style: none;
    background-color: cornflowerblue;
}
.navbar ul li{
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    list-style: none;
    background-color: cornflowerblue;

}
.navbar ul li a{
    text-decoration: none;
    color: black;
    background-color: cornflowerblue;

}

.container{
    text-align: center;
    font-size: 2rem;
    background: url("/images/trees.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 

}

.head2{
    font-weight: bold;
}

.choice{
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}
.btn a{
    color: black;
    text-decoration: none;
}


