*{
    margin: 0px;
    background-color:cornsilk;
    text-align: center;
    font-family: sans-serif;
}

.navbar{
    background-color: bisque;
    color: black;
    list-style: none;
}

.navbar ul{
    display: flex;
    background-color: cornflowerblue;
    list-style: none;
}
.navbar ul li{
    margin: 10px;
    padding: 10px;
    background-color: cornflowerblue;
    font-size: 1.5rem;
    list-style: none;
}
.navbar ul li a{
    background-color: cornflowerblue;
    text-decoration: none;
    color: black;
}

.heading {
    font-size: 5rem;
    height: 6rem;
}
.req{
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    font-style: italic;
}
.info{
    padding: 1rem;
}
.btn{
        background: cornflowerblue;
        border-radius: 22px;
        font-family: Arial;
        color: #ffffff;
        font-size: 25px;
        padding: 12px 15px 12px 15px;
        text-decoration: none;
        width: 170px;
      }
      
      .btn:hover {
        background: rgb(119, 160, 238);
        text-decoration: none;
}
.obj{
    font-weight: bold;
    font-size: 1.2rem;
    /* font-family: serif; */
}
.obj2{
    height: 1.5rem;
    border-radius: 10px;
}



